body {
  overflow: hidden;
  background: #ffc3d5;
}

/* Floating Hearts */
.heart {
  position: fixed;
  color: red;
  font-size: 20px;
  animation: floatUp 5s linear infinite;
}

video {
  border-radius: 12px;
}

#mediaContainer {
  display: flex;
  justify-content: center;
  width: 200px;
}

.smooth-media {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.smooth-media.show {
  opacity: 1;
  transform: scale(1);
}

@keyframes floatUp {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }

  to {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

body {
  overflow: hidden;
  background: #ffc3d5;
}

/* Floating Hearts */
.heart {
  position: fixed;
  color: red;
  font-size: 20px;
  animation: floatUp 5s linear infinite;
}

video {
  border-radius: 12px;
}

#mediaContainer {
  display: flex;
  justify-content: center;
  width: 200px;
}

.smooth-media {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.smooth-media.show {
  opacity: 1;
  transform: scale(1);
}

@keyframes floatUp {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }

  to {
    transform: translateY(-10vh);
    opacity: 0;
  }
}
